<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script src="/node_modules/waypoints/lib/noframework.waypoints.min.js"></script>
</head>
<body>
  <section id="landing">
    <div class="content">
      <div class="background-red top">
        <div>g</div>
        <div>e</div>
        <div>n</div>
        <div>t</div>
      </div>
      <div class="background-black bottom">
        <img src="assets/images/logo-gen.png" alt="gen-logo" class="logo">
        <div>'17</div>
      </div>
    </div>
    <div id="first-menu-mobile" class="menu menu-mobile">
      <ul>
        <li>
          <a href="#gent" id="gent-button">
              Gent
          </a>
        </li>
        <li>
            <a href="#baralho" id="baralho-button">
              Do Baralho
            </a>
        </li>
        <li>
          <a href="#accao" id="accao-button">
            Em Acção
          </a>
        </li>
      </ul>
    </div>
  </section>
  <section id="gent">
    <div class="banner">

    </div>
  </section>
</body>
</html>
