<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div class="sidebar background-dark-gray">
        <label for="cenas">
          <div>
              <img class="icon" src="./assets/images/gen.png" alt="">
              <ul>
                <li>
                  <i class="icon-dice"></i>Resumo
                </li>
              </ul>
          </div>
        </label>
    </div>
    <div class="content">
      <section id="quick-ref">
        <h1>Resumo</h1>
      </section>
      <section id="game">
        <h1>O Jogo</h1>
      </section>
      <section id="table">
        <h1>A Mesa de Jogo</h1>
      </section>
      <section id="sprints">
        <h1>As Sprints</h1>
      </section>
      <section id="special">
        <h1>Habilidades e Condicionantes</h1>
      </section>
    </div>
</body>
</html>
