<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script src="/node_modules/waypoints/lib/noframework.waypoints.min.js"></script>
    <script src="/node_modules/scroll-js/dist/scroll-min.js"></script>
</head>
<body>
  <section id="landing">
    <div class="content">
      <div class="background-red top">
        <div class="gen-letters">
          <div>g</div>
          <div>e</div>
          <div>n</div>
          <div>t</div>
        </div>

        <div class="desktop-only intro">
          <div>
            <h1 class="intro__title">Gent<br> do baralho</h1>
            <div class="intro__descs">
              <div class="intro__desc">
                <h3 class="title">Aqui és tu quem lidera!</h3>
                <p class="body">Cria a melhor equipa e vence o teu adversário.</p>
              </div>
              <div class="intro__desc">
                <h3 class="title">A estratégia é uma arma! </h3>
                <p class="body">Usa as tuas melhores habilidades para venceres esta batalha.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="logo-desktop desktop-only">
          <img src="assets/images/logo-gen-vertical.png" alt="gen-logo" class="logo">
        </div>

        <div class="year-info desktop-only">
          2017
        </div>
      </div>
      <div class="background-black bottom mobile-only">
        <img src="assets/images/logo-gen.png" alt="gen-logo" class="logo">
        <div>'17</div>
      </div>
    </div>
    <div id="first-menu-mobile" class="menu menu-mobile">
      <ul>
        <li>
          <a href="#gent" id="gent-button" class="mobile-menu-item">
              Gent
          </a>
        </li>
        <li>
            <a href="#baralho" id="baralho-button" class="mobile-menu-item">
              Do Baralho
            </a>
        </li>
        <li>
          <a href="#accao" id="accao-button" class="mobile-menu-item">
            Em Acção
          </a>
        </li>
      </ul>
    </div>
  </section>
  <section id="gent">
    <div id="gent-banner" class="banner">
      <div class="banner-content">
          <h1>Aqui és tu <br>quem lidera!</h1>
          <h3>Cria a melhor equipa e vence <br>o teu adversário.</h3>
      </div>
    </div>
    <div id="gent-content" class="content background-red">
      <p>
          É o melhor jogo de cartas do mundo, envolvendo devs,
          designers e managers, que trabalhem na Gen.
          Usa as cartas do teu baralho e a tua perícia para
          construir a melhor equipa e atrapalhar o teu
          oponente. Cada combate de Gent tem duas rondas e
          o primeiro jogador a conseguir duas vitórias é
          coroado vencedor.
      </p>
    </div>
  </section>
  <section class="baralho" id="baralho">
    <div class="numbers">
      <div>
        <p class="label">Profissionais</p>
        <p class="number">46</p>
      </div>
      <div>
        <p class="label">Condicionantes</p>
        <p class="number">
          <span  class="color-gray">+</span>
          <span>8</span>
        </p>
      </div>
      <div>
        <span class="label">Cartas</span>
        <p class="number">
          <span class="color-gray">=</span>
          <span class="color-red">54</span>
        </p>
      </div>
    </div>
    <div class="content">
      <p>
          Devs, Designers e Managers são a base do baralho,
          cada um deles tem pontos associados ou mesmo
          habilidades especiais que afectam o jogo.
      </p>
    </div>
    <div id="cartas" class="cartas background-middle-gray">
      <div id="card-menu" class="card-menu">
        <div class="dropdown">
          <input type="checkbox" name="card-toggle" id="card-toggle">
          <label for="card-toggle">
            <div class="selected">
              <span class="title" id="card-type-title">Cenas</span>
              <img class="icon" src="./assets/images/chevron-down.png" alt="chevron-down">
            </div>
          </label>
          <div class="dropdown-content">
            <div class="dropdown-option" id="designer-button">Designer</div>
            <div class="dropdown-option" id="manager-button">Manager</div>
            <div class="dropdown-option" id="developer-button">Developer</div>
            <div class="dropdown-option" id="condicionantes-button">Condicionantes</div>
          </div>
        </div>
      </div>
      <div id="designers-card" class="card-container">
        <p class="description">
            Alguns designers possuem habilidades que te
            dão pontos extra.O aumento é feito consoante
            o número indicado na carta.
        </p>
      </div>
      <div id="managers-card" class="card-container">
          <p class="description">
            Com a Habilidade de Micro-Management, as
            Managers permitem-te ir buscar cartas extra
            ao teu baralho ou à casa-de banho.
            O número de cartas a tirar é o indicado
            junto da habilidade.
          </p>
        </div>
      <div id="developers-card" class="card-container">
        <p class="description">
            Os Developers podem usar as suas habilidades
            de Hacking para diminuir os pontos do teu
            adversário. A redução é a indicada pelo
            número na junto da habilidade.
        </p>
      </div>
      <div id="condicionantes-card" class="card-container">
          <p class="description">
              Condicionantes influenciam positiva
              ou negativamente os jogadores. Apenas 1
              carta condicionaste pode estar activa em
              cada ronda. Sempre que se joga uma
              condicionante, esta substitui a
              condicionante anterior.
          </p>
        </div>
    </div>
  </section>
  <section id="accao" class="accao">
    <div class="rules">
      <div class="rule-container">
        <h1 class="number">01</h1>
        <p class="text">
            Ambos os jogadores embaralham os seus baralhos
            e decidem quem joga a primeira ronda. Cada
            jogador compra 10 cartas do baralho. Se o
            desejaram, os jogadores podem deitar 3
            cartas fora e comprar 3 novas do baralho.
            Para determinar quem joga primeiro podes
            falar com o teu adversário e decidirem
            em conjunto, ou usam outro método
            disponível (moeda ao ar, pedra-papel-tesoura,
            par-ou-ímpar, duelo, etc.)
        </p>
      </div>
      <div class="rule-container">
        <h1 class="number">02</h1>
        <p class="text">
          O baralho deve ser colocado lateralmente
          e alcance do seu dono. Cartas de Devs,
          Designer e Managers à medida que são
          jogadas vão sendo colocadasà frente de
          quem as joga, agrupadas pelo seu tipo.
          Condicionantes são colocadas ao centro,
          entre a área de trabalho dos dois
          jogadores. Cartas deitadas fora são
          colocadas num monte à parte do baralho dos
          jogadores.
          A este monte chama-se “Casa-de-banho”.
          Cartas na mão do jogador não são
          consideradas como estando em jogo.
        </p>
      </div>
      <div class="rule-container">
        <h1 class="number">03</h1>
        <p class="text">
          O jogador eleito para jogar primeiro joga
          a primeira carta. Na sua vez os jogadores
          podem jogar apenas uma carta que tenham
          na mão ou passar o turno. Se passares o
          turno, significa que não queres jogar mais
          durante essa ronda e o teu adversário
          pode continuar a jogar até ele próprio
          passar o turno também. A ronda termina
          quando ambos os jogadores passarem
          "o turno”. Ganha a ronda o jogador que
          tiver a pontuação mais alta.
        </p>
      </div>
      <div class="rule-container">
        <h1 class="number">04</h1>
        <p class="text">
          Conta-se os pontos de cada assets somando
          os valores das cartas em jogo: Total de
          pontos de Designer, Devs e Managers +
          condicionantes (considera-se a aplicação
          das cartas condicionantes e habilidades,
          próprias e do adversário em jogo). Uma
          carta é considerada "em jogo" se estiver
          dentro da área de trabalho. Os valores de
          bónus das habilidades de Designers não são
          afectados por cartas de condicionantes ou
          habilidades adversárias, excepto pela carta
          “Greve Geral”. Ganha a ronda quem tiver a
          maior pontuação, apenas a vitória interessa.
          Se no final de uma ronda os jogadores
          tiverem o mesmo número de pontos, o número
          de vitórias de ambos não se altera.
        </p>
      </div>
      <div class="rule-container">
        <h1 class="number">05</h1>
        <p class="text">
          No final de cada ronda todas as cartas
          jogadas são colocadas na Casa-de-Banho.
          Após a primeira ronda, é o vencedor da r
          onda anterior que começa a jogar primeiro.
          Se a ronda tiver terminado em empate,
          começa o jogador inverso ao que começou a
          última ronda. Na segunda ronda cada jogador
          retira mais 2 cartas do seu baralho,
          podendo também deitar fora uma que já tenha
          em mão e comprar outra do baralho. No caso
          da existência rondas posteriores, cada
          jogador pode retirar apenas uma carta do
          baralho e fazer o mesmo número de trocas que
          no segundo turno.
        </p>
      </div>
      <div class="rule-container">
        <h1 class="number">06</h1>
        <p class="text">
          Cada ronda ganha confere 1 ponto ao vencedor.
          O primeiro jogador a alcançar 2 pontos
          (duas rondas ganhas), é o vencedor da
          batalha de Gent. Se após duas rondas os
          jogadores estiverem empatados no número
          de vitórias, jogam-se novas rondas até se
          encontrar o vencedor.
        </p>
      </div>
    </div>
  </section>
</body>
</html>
