#baralho {
  background: $black;

  .numbers {
    margin-bottom: 70px;
    padding: 120px 30px 0;

    > div {
      border-top: 1px solid $white;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      p {
        margin: 0;
      }
    }

    .label {
      font-family: 'din-light';
      color: $white;
      font-size: 12px;
      line-height: 35px;
      letter-spacing: 1.2px;
    }

    .number {
      font-family: 'din-medium';
      color: $white;
      font-size: 80px;
      line-height: 80px;
      letter-spacing: 3px;

      span:last-child {
        float: right;
      }
    }
  }

  .content {
    padding-left: 62px;
    padding-right: 30px;
    margin-bottom: 60px;

    p {
      font-size: 16px;
      color: $white;
      margin: 0;
      padding: 0;
      line-height: 24px;
      letter-spacing: 1.6px;
      font-family: 'din';
    }
  }

  .cartas {
    padding: 124px 0 0 0;
    position: relative;

    .card-menu {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;

      &.fixed {
        position: fixed;
        top: 80px;
      }
      .selected {
        padding: 0 30px;
      }
    }

    #designers-card {
      background-image: url('../images/designers_card.png');
      background-position-y: 55px;
    }

    #managers-card {
      background-image: url('../images/managers_card.png');
      background-position-y: 100px;
    }

    #developers-card {
      background-image: url('../images/devs_card.png');
      background-position-y: 75px;
    }

    #condicionantes-card {
      background-image: url('../images/condicio_card.png');
      background-position-y: 115px;
    }

    .card-container {
      min-height: calc(100vh - 80px);
      background-repeat: no-repeat;
      background-position-x: 125%;
      background-size: 90% auto;
      padding-left: 30px;
      margin-bottom: 80px;
      // padding-top: 110px;

      .description {
        font-size: 16px;
        color: $white;
        margin: 0;
        padding: 0;
        line-height: 22px;
        letter-spacing: 1.99px;
        font-family: 'baskerville';
        width: 65%;
        min-width: 230px;
      }
    }
  }

  @include media('>=desktop') {
    display: flex;

    > div {
      flex-basis: 50%;
    }

    .numbers {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 100vh;
      justify-content: center;
      padding: 0 10%;

      > div {
        width: 100%;
      }

      &-info {
        border-top: 0 !important;
        color: $white;
        font-family: 'din-light';
        font-size: 16px;
        letter-spacing: 1.6;
        line-height: 24px;
        margin-top: 75px;
      }
    }

    .cartas {
      padding-top: 0;

      .card-container {
        align-items: flex-end;
        background-size: 50%;
        background-position-x: 90%;
        background-position-y: calc(100% - 100px) !important;
        display: flex;
        height: 100vh;

        .description {
          margin-bottom: 30%;
        }
      }
    }
  }
}
