#gent {
  .banner {
    background-color: $black;
    background-image: url('../images/rui-adriana-marcio.png');
    height: 100vh;
    background-size: auto 80%;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
  }
}