#landing {
  .content {
    & > div {
      height: 50vh;
      width: 100%;
    }

    .top {
      position: relative;

      > div {
        color: $white;
        font-family: din-bold;
        font-size: 30px;
        position: absolute;
        text-transform: uppercase;

        &:first-child {
          left: 30px;
          top: 30px;
        }

        &:nth-child(2) {
          right: 30px;
          top: 30px;
        }

        &:nth-child(3) {
          left: 30px;
          bottom: 30px;
        }

        &:nth-child(4) {
          right: 30px;
          bottom: 30px;
        }
      }
    }

    .bottom {
      padding: 30px;
      position: relative;

      > img {
        width: 30px;
      }

      > div {
        color: $red;
        right: 30px;
        top: 30px;
        font-size: 20px;
        position: absolute;
      }
    }
  }

  @include media('>=desktop') {
    .content {
      & > div {
        height: auto;
      }

      .top {
        background-color: $black;
        background-image: url('../images/pedro-leandro.png');
        background-position: 60% 100%;
        background-repeat: no-repeat;
        background-size: 45%;
        display: flex;
        align-items: flex-end;
        height: 100vh;

        > div:not(.intro) {
          position: fixed;
          z-index: 10;
        }

        .intro {
          display: flex;
          margin-left: 10%;
          margin-bottom: 10%;
          position: static;

          &__title {
            font-family: 'neue';
            font-size: 60px;
            margin: 0;
          }

          &__descs {
            display: flex;
            margin-top: 90px;
            width: 100%;
          }

          &__desc {
            font-family: 'neue';
            max-width: 235px;

            &:first-child {
              margin-right: 70px;
            }

            .title {
              font-size: 14px;
            }

            .body {
              font-family: 'baskerville';
              font-size: 20px;
              text-transform: none;
            }
          }
        }
      }
    }
  }
}
