#landing {
  .content {
    & > div {
      height: 50vh;
      width: 100%;
    }

    .top {
      position: relative;

      div {
        color: $white;
        font-family: din-bold;
        font-size: 30px;
        position: absolute;
        text-transform: uppercase;

        &:first-child {
          left: 30px;
          top: 30px;
        }

        &:nth-child(2) {
          right: 30px;
          top: 30px;
        }

        &:nth-child(3) {
          left: 30px;
          bottom: 30px;
        }

        &:last-child {
          right: 30px;
          bottom: 30px;
        }
      }
    }

    .bottom {
      padding: 30px;
      position: relative;

      > img {
        width: 30px;
      }

      > div {
        color: $red;
        right: 30px;
        top: 30px;
        font-size: 20px;
        position: absolute;
      }
    }
  }

  @include media('>=desktop') {
    .content {
      & > div {
        height: auto;
      }

      .top {
        background-color: $black;
        background-image: url('../images/pedro-leandro.png');
        background-position: 80% 100%;
        background-repeat: no-repeat;
        background-size: 50%;
        height: 100vh;

        div {
          position: fixed;
          z-index: 10;
        }
      }
    }
  }
}
