$red: #e40000;
$black: #1a1b1d;
$white: #fff;
$green: #090;
$blue: #00f;
$gray: rgba(255, 255, 255, 0.2);
$middle-gray: #282B2E;
$dark-gray: #1A1B1D;

.color-white {
  color: $white;
}

.color-black {
  color: $black;
}

.color-red {
  color: $red;
}

.color-gray {
  color: $gray
}

.background-black {
  background-color: $black;
}

.background-white {
  background-color: $white;
}

.background-red {
  background-color: $red;
}

.background-middle-gray {
  background-color: $middle-gray;
}
