$red: #e40000;
$black: #1a1b1d;
$white: #fff;
$green: #090;
$blue: #00f;
$dark-gray: #777;

.color-white {
  color: $white;
}

.color-black {
  color: $black;
}

.color-red {
  color: $red;
}

.background-black {
  background-color: $black;
}

.background-white {
  background-color: $white;
}

.background-red {
  background-color: $red;
}
