.sidebar {
  display: inline-block;
  width: 250px;
  height: 100vh;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;

  .sidebar-list {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 17px;

    li {
      margin-bottom: 10px;
    }

    i {
      margin-right: 15px;
    }
  }
}

input[type=checkbox] {
  display: none;
  
  + label {
    background-color: transparent;
    transition: background-color .5s linear;
    
    &:hover {
      background-color: pink;
    }
    
    & > img {
      margin: 0 auto;
      border-radius: 50%;
    };
  }
  
  &:checked {
    + label {
      background-color: pink;
      
      & > img {
      }
    }
  } 
} 

@media only screen and (max-width: 1024px) {
  .sidebar {
    
  }
}