// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/

@import 'colors';
@import 'sidebar';
@import 'icons';
@import 'typography';

html {
    box-sizing: border-box;
    height: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.icon {
  height: 50px;
  width: 50px;
}

.content {
  display: inline-block;
  height: 100vh;
  width: 100%;
  margin-left: 250px;
  z-index: 2;

  & > div {
    height: 100vh;
    padding: 30px;
  }
}

.quick-ref {
  background-image: url('../images/cards.png');
}
