// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/

@import 'colors';
@import 'sidebar';
@import 'icons';
@import 'fonts';
@import 'typography';

html {
    box-sizing: border-box;
    font-family: 'baskerville';
    height: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.icon {
  height: 50px;
  width: 50px;
}

.content {
  display: inline-block;
  height: 100vh;
  width: calc(100% - 250px);
  margin-left: 250px;
  z-index: 2;

  & > div {
    height: 100vh;
    padding: 30px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.quick-ref {
  background-image: url('../images/IMG_8409_2.jpg '), linear-gradient(#252525, #272727);
}

.game{
  background-image: url('../images/IMG_8353_1.jpg'), linear-gradient(#252525, #272727);
}

.table {
  background-image: url('../images/IMG_8412.jpg'), linear-gradient(#252525, #272727);
}

.sprints {
  background-image: url('../images/IMG_8355-1.jpg'), linear-gradient(#252525, #272727);
}

.special {
  background-image: url('../images/IMG_8413.jpg'), linear-gradient(#252525, #272727);
}
