// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/

@import 'vendor';
@import 'colors';
@import 'fonts';
@import 'typography';
@import 'menu';
@import 'sections/landing';
@import 'sections/gent';

html {
  box-sizing: border-box;
  font-family: 'din';
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

section {
  min-height: 100vh;
  position: relative;
}

// .game{
//   background-image: url('../images/IMG_8353_1.jpg'), linear-gradient(#252525, #272727);
// }

// .table {
//   background-image: url('../images/IMG_8412.jpg'), linear-gradient(#252525, #272727);
// }

// .sprints {
//   background-image: url('../images/IMG_8355-1.jpg'), linear-gradient(#252525, #272727);
// }

// .special {
//   background-image: url('../images/IMG_8413.jpg'), linear-gradient(#252525, #272727);
// }
